
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage1.cshtml";
}

<div class="col-md-12">
    <p style=" font-size: 25px;">Địa chỉ</p>
</div>
<div class="col-md-12">
    @*<a href="#" class="btn btn-primary">Xóa hồ sơ</a>*@

    <div class="box-body">
        <table id="example2" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Mã kỳ tuyển sinh</th>
                    <th>Tên kỳ tuyển sinh</th>
                    <th>Năm học</th>
                    <th>Trạng thái</th>
                    <th style="width:10%">Chức năng</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td>
                    </td>
                    <td></td>
                    <td></td>
                    <td>
                        @*<a href="#" style="margin-left:10px"> <u>Xem</u> </a>*@
                        <a href="/Admin/DanhSBD/Index" style="margin-left:10px"> <u>Đánh SBD</u></a>
                        @*<a href="#" style="margin-left:10px"> <u>Sửa</u></a>*@
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>













