@{

    ViewBag.Title = "Home Page";

}

<link href="~/Assets/Frontend/css/main.css" rel="stylesheet" />
<div class="col-md-12">

    <h1>HỆ THỐNG TUYỂN SINH </h1>
    <br /><br /><br /><br />
    <div class="col-md-12" id="divChucNang">

        <a href="/DK_du_tuyen/Index" class="btn btn-primary" id="aDK">Đăng ký dự tuyển</a>
        

        <a href="/HD_dang_ky/Index" class="btn btn-primary">Hướng dẫn đăng ký </a>
        

        <a href="/Tra_cuu/Index" class="btn btn-primary" id="aTC">Tra cứu kết quả</a>
        <div class="col-md-12" style="margin:auto;margin-top:20px">
            <div class="col-md-4">
               
            </div>
            @*<div class="col-md-4" style="width:30%;margin-left:28px;">
                <a class="form-control" href="/Admin/TrangDangKy/Index">Tạo tài khoản cho học sinh</a>
            </div>*@
        </div>
        
       
    </div>
</div>
<style>
    body {
        background-image: url('https://uneti.edu.vn/wp-content/uploads/2020/06/1-21-scaled.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
