
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Assets/Frontend/css/file.css" rel="stylesheet" />
<div class="container" style="border: 1px solid black;padding-bottom:14px"; >
    <div class="row">
        <div class="col-md-12">
            
            <p class="Ten" style="text-align:center;">PHIẾU TRA CỨU KẾT QUẢ</p>
            <p><i  style="margin-left:331px;">*Lưu ý:thí sinh phải điền đúng số báo danh, mã học sinh, mã hồ sơ của mình</i></p>
            <div class="col-md-8" style="margin-top:36px;">
                <div class="col-md-12" style="margin-left:185px;">
                    <label>* Mã học sinh</label>
                    <input style="max-width:unset;" class="form-control" type="text" name="name" value="" placeholder="Nhập mã học sinh..."/>
                </div>
                <div class="col-md-12" style="margin-left:185px;">
                    <label style="margin-top:20px;">*Số báo danh</label>
                    <input class="form-control" style="max-width:unset;" type="text" name="name" value="" placeholder="Nhập số báo danh..." />
                </div>
                <div class="col-md-12" style="margin-left:185px;">
                    <label style="margin-top:20px;">*Mã hồ sơ</label>
                    <input class="form-control" style="max-width:unset;" type="text" name="name" value="" placeholder="Nhập mã hồ sơ..."/>
                </div>
                <div class="col-md-12">
                    <input class="form-control" type="submit" value="Tra cứu" style="background-color: #1e61b1!important; margin-top: 50px; margin-left: 400px;color:white;">
                </div>
            </div>
        </div>
    </div>
</div>

